.place {
    display: grid;
    max-width: 984px;
    margin: 0 auto 72px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 40px;
    grid-row-gap: 60px;      
    justify-items: center;
    grid-template-areas: "head links" "image paragraph";
}

@media (max-width: 720px) {      
    .place {
        margin: 0 auto 64px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "head"
                            "links"
                            "image"
                            "paragraph";                                  
        grid-row-gap: 32px;
    }    
}


