    @import url('./__title/lead__title.css');
    @import url('./__subtitle/lead__subtitle.css');
    @import url('./__image/lead__image.css');
    @import url('./__caption/lead__caption.css');
    
    .lead {
        max-width: 1280px;
        margin: 0 auto;
        background: #2A2C2F;                              
    }

    @media (max-width: 1024px) {         

        .lead__title {            
            padding-top: 48px;
        }

        .lead__subtitle {
            margin: 32px 192px 56px;
        }
       
        .lead__image {            
            max-width: 928px;
            max-height: 580px;     
            margin: 0 auto;            
        }

        .lead__caption {
            margin-left: 48px;
        }
    }

    
    @media (max-width: 768px) {         

        .lead__title {                       
            padding-top: 48px;            
        }

        .lead__subtitle {
            margin: 32px 64px 56px;
        }
       
        .lead__image {            
            max-width: 768px;
            max-height: 480px;
            margin: 0px auto;            
           
        }

        .lead__caption {
            margin-left: 24px;
        }
    }

    @media (max-width: 375px) {

        .lead__title {            
            padding-top: 48px;
            max-width: 288px;
            max-height: 88px;
            font-weight: 900;
            font-size: 2.2rem;
            line-height: 1.1;            
        }

        .lead__subtitle {
            margin: 16px auto 40px;
            font-size: 1rem;
            line-height: 1.2;
        }

        .lead__image {            
            max-width: 320px;
            max-height: 200px;
            margin: 0px auto;            
           
        }

        .lead__caption {
            margin-left: 16px;
        }

    }

    @media (max-width: 320px) {

        .lead__title {
            padding-top: 48px;
            max-width: 288px;
            max-height: 88px;
            font-weight: 900;
            font-size: 2.2rem;
            line-height: 1.1;                        
        }

        .lead__subtitle {
            margin: 16px auto 40px;
            font-size: 1rem;
            line-height: 1.2;
        }

        .lead__image {            
            max-width: 320px;
            max-height: 200px;
            margin: 0px auto;            
           
        }

        .lead__caption {
            margin-left: 16px;
        }

    }