@import url('./__logo/header__logo.css');
@import url('./__lang-links/header__lang-links.css');
.header {
    max-width: 1280px;
    margin: 0 auto;
    background: #2A2C2F;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .header__lang-lin-en {
        margin-right: 48px;
    }
}

@media (max-width: 768px) {
    .header__logo {
        margin-left: 24px;
    }
    .header__lang-lin-en {
        margin-right: 24px;
    }
}

@media (max-width: 375px) {
    .header {
        width: 100%;
        margin: 0;
    }
    .header__logo {
        max-width: 143px;
        max-height: 42px;
        margin-top: 16px;
        margin-left: 16px;
    }
    .header__lang-link {
        width: 22px;
        height: 24px;
        font-size: 18px;
        line-height: 24px;
    }
    .header__lang-link-en {
        margin-right: 16px;
    }
    .header__lang-links {
        margin-top: 30px;
    }
}

@media (max-width: 320px) {
    .header {
        width: 100%;
        margin: 0;
    }
    .header__logo {
        max-width: 143px;
        max-height: 42px;
        margin-top: 16px;
        margin-left: 16px;
    }
    .header__lang-link {
        width: 22px;
        height: 24px;
        font-size: 18px;
        line-height: 24px;
    }
    .header__lang-link-en {
        margin-right: 16px;
    }
    .header__lang-links {
        margin-top: 30px;
    }
}