.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1.1;    
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    max-height: 200px;
    margin: auto;
    padding-top: 56px;    
}