.lead__image {
    width: 100%;
    max-width: 984px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1024px) {       
       
    .lead__image {            
        max-width: 928px;             
        margin: 0 auto;            
    }    
}

@media (max-width: 768px) {        
      
    .lead__image {            
        max-width: 768px;        
    }
}