.lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 0.9;    
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    max-height: 72px;
    margin: 32px auto 64px;
}